@charset "utf-8";

body{
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0,0.7)), url("background/top-view-fast-food-mix-mozzarella-sticks-club-sandwich-hamburger-mushroom-pizza-caesar-shrimp-salad-french-fries-ketchup-mayo-cheese-sauces-table.jpg");
	background-size: cover;
    background-position: center;
    height: 800px;
	font-family:Vazirmatn Light;
	font-size: 20px;
}

.continer{
	direction: rtl;
	text-align: center;
	width: 40%;
	//height: 700px;
	margin: 100px auto;
	color: white;
	padding-top: 200px;
}

fieldset{
	border: 3px dashed #7DD1F7;
	padding-bottom: 20px;
}

legend{
	text-align: right;
	font-size: 17px;
}

input{
	width: 38%;
	height: 25px;
	font-size: 15px;
	text-align: center;
	border: 3px solid black;
}

input:active{
	background-color: #E3F064;
}

input[type="submit"]{
	background-color: #EAF959;
	width: 17%;
	height: 40px;
}


