@charset "utf-8";

body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0,0.75)), url("https://s6.uupload.ir/files/top-view-fast-food-mix-mozzarella-sticks-club-sandwich-hamburger-mushroom-pizza-caesar-shrimp-salad-french-fries-ketchup-mayo-cheese-sauces-table_yk63.jpg");
	background-size: cover;
    background-position: center;
    height: 600px;
	font-family:Vazirmatn Light;
	font-size: 20px;
	color: white;
}

.logo{
	margin:5px 0px 0px 5px;
	border-radius: 10px;
}

.logo:hover{
	cursor: pointer;
	transform: scale(1.2);
}

.continer{
	direction: rtl;
	margin: -82px 0px;
}

ul {
    display: inline-block;
    list-style-type: none;
}

.menu li{
    float:right;
	padding: 6px 30px 6px 30px;
	text-align: center;
	transition: all ease 0.5s;
    position: relative;
	border-radius: 25px;
	height: 35px;
	width: 88px;
}

.menu li:hover{
	background-color: #FBDBDC;
	color: #030574;
	padding: 6px 30px 6px 30px;
	cursor: pointer;
}

.menu a{
	text-decoration: none;
	color: white;
}

li.submenu ul{
	font-size: 19px;
    position: absolute;
    display: none;
	margin: 5px -69px 0px 0px;
}

li.submenu ul li{
	margin-top:7px;
}

li.submenu:hover ul {
    display: block;
	color: white;
}

li.submenu::after {
	content: '\25BC';
	font-size: 15px;
	padding-right: 3px;
	color:#FB7678;
}

li.submenu:hover::after {
	content: '\25B2';
	font-size: 15px;
	padding-right: 3px;
	color:#E913C4;	
}

.text{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
	width: 32%;
	height: 65px;
	text-align: center;
	padding-top: 20px;
	margin-top: 203px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #F8BC8C;
	border-radius: 25px;
	font-size: 27px;	
	transition: all ease 0.5s;
}

.text:hover{
	background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
	border:2px solid #020E47;
	color: black;
	cursor: pointer;
	opacity: 0.5;
	transform: scale(1.2);
}

.media img{
	border: 2px solid #F7FA85;
	background-color: #FFDDCD;
	border-radius: 10px;
	margin-top: 375px;
	width: 25px;
	height: 25px;
	padding: 2px;
	margin-left: 2px;
}

.media img:hover{
	cursor: pointer;
	opacity: 0.5;
}
