@charset "utf-8";

body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0,0.75)), url("../pictures/background/top-view-fast-food-mix-mozzarella-sticks-club-sandwich-hamburger-mushroom-pizza-caesar-shrimp-salad-french-fries-ketchup-mayo-cheese-sauces-table.jpg");
	background-size: cover;
    background-position: center;
    height: 600px;
	font-family:Vazirmatn Light;
	color:black;
}

.continer{
	margin-top: 52px;
	margin-left: 242px;
	width: 67%;
	height: 620px;
	border: 2px solid #F8EE50;
	overflow: hidden;
}

.fried img{
	display:-webkit-inline-box;
	width: 195px;
	height: 147px;
	padding: 1px;
}

.fried{
	text-align:center;
	display:-webkit-inline-box;
	width: 200px;
	height: 260px;
	margin: 23px;
	border: 2px solid #4304FF;
	background-color: white;
	transition: all ease 0.5s;
}

.fried h2{
	display:-webkit-inline-box;
	font-size: 17px;
	margin-top: 11px;
}

.fried p{
	direction: rtl;
	display:-webkit-inline-box;
	font-size: 16px;
	margin-top: -16px;
}

.fried:hover img {
	cursor: pointer;
	//filter:hue-rotate(180deg);
	filter: grayscale(100%);
}

.fried:hover{
	cursor: pointer;
	color: red;
	border: 2px solid #FC0E74;
}

